<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
    <%- include('partials/nav.ejs') %>
    <h2> Planet Saturn</h2>
    <img src= "<%= planetSaturn.image %>">
    <p>Distance From the Sun: <%= planetSaturn.distanceFromSun %></p>
    <p>Year Length: <%= planetSaturn.yearLength %></p>
    <p>Description: <%= planetSaturn.description %></p>
    <p>Radius: <%= planetSaturn.radius %></p>
    <p>Website Link: <%= planetSaturn.websiteLink %></p>
    <p>One Earth Day: <%= planetSaturn.oneEarthDay %></p>
    <p>Moons: <%= planetSaturn.moons %></p>
    <br>
    <%- include('partials/footer.ejs') %>
</body>
</html>